<html>
{% include "header.html" %}
<body>
<div class="container">
	<h1>{{cat.cat_name}}</h1>

		<form action="{{ url_for('editCat', cat_id = cat.id, cat = cat) }}" method = 'post'>
			<div class="form-group">
				<input class="form-control mt-2" type='text' size='30' name='name' value='{{ cat.cat_name }}'>
				<button type="submit" class="btn btn-outline-success btn-sm mt-2">Update</button>
			</div>
		</form>
	
	<a class="btn btn-outline-secondary btn-sm" href="{{ url_for('showItems') }}" role="button">Cancel</a>
</div>

</body>
</html>